<footer class="footer">
    <div class="footer_container container">
        <h1 class="footer_title">Avalon</h1>
        <p>Software Developer</p>

        <ul class="footer_list">
            <li><a class="footer_link"></a>Home</li>
            <li><a class="footer_link"></a>Skills</li>
            <li><a class="footer_link"></a>Contact</li>
        </ul>
        <ul class="footer_social">
            <a href="" class="footer_social-link"></a>
            <a href="" class="footer_social-link"></a>
            <a href="" class="footer_social-link"></a>
        </ul>

        <span class="footer_copy">&#169; Copyright Avalon. All rights reserved. YEAR</span>
    </div>
</footer>