<footer class="footer">
    <div class="footer_container container">
        <h1 class="footer_title">Avalon</h1>
        <p class="footer_description">Software Developer</p>
        <ul class="footer_social">
            <a href="https://linkedin.com/" class="footer_social-link">
                <img src="../assets/icons/linkedin.png" alt="linkedin" class="footer_icon">
            </a>
            <a href="https://github.com/" class="footer_social-link">
                <img src="../assets/icons/github.png" alt="github" class="footer_icon">
            </a>
        </ul>
        <span class="footer_copy">&#169; Copyright Avalon. All rights reserved. {{year}}</span>
    </div>
</footer>