@import url('../app.component.scss');

.footer_container {
    padding: 1rem auto;
    text-align: center;
}

.footer_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.footer_description {
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold);    
}

.footer_list {
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}

.footer_list,
.footer_social {
    display: flex;
    justify-content: center;
}

.footer_link {
    color: var(--title-color);
}

.footer_link:hover {
    text-decoration: underline;
}

.footer_social {
    column-gap: 1.25rem;
    margin: 1rem auto;
}

.footer_social-link {
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .3s;
}

.footer_social-link:hover {
    transform: translate(-.15rem);
}

.footer_icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--text-color-light);
    border-radius: 50%;
}

.footer_copy {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}