<main class="main">
    <mat-tab-group class="container">
        <!--==================== HOME ====================-->
        <mat-tab label="Home" class="tab_item">
            <app-home></app-home>
        </mat-tab>
        <!--==================== SKILLS ====================-->
        <mat-tab label="Skills" class="tab_item">
            <app-skills></app-skills>
        </mat-tab>
        <!--==================== EXPERIENCE ====================-->
        <mat-tab label="Experience" class="tab_item">
            <app-experience></app-experience>
        </mat-tab>
        <!--==================== ABOUT ME ====================-->
        <mat-tab label="About Me" class="tab_item">
            <app-about-me></app-about-me>
        </mat-tab>
        <!--==================== CONTACT ====================-->
        <mat-tab label="Contact" class="tab_item">
            <app-contact></app-contact>
        </mat-tab>
    </mat-tab-group>
</main>