@import url('../app.component.scss');

.main {
    overflow: hidden;
    margin: 1rem 0;
    border: 0.1rem solid yellow;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5rem;
    border-radius: 3rem;

    margin-inline: 1.5rem;
    background-color: darkcyan;
}

.section {
  padding-block: 1rem;
}

.section_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}
/*
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section_border {
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
  }
  
  .section_title, 
  .section_subtitle {
    text-align: center;
  }
  
  .section_title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
  }
  
  .section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 3rem;
  }
  */
  