<div class="skills_content">
    <h3 class="skills_title">Backend Developer</h3>
    <table class="skills_info">
        <tr class="skills_data">
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp" class="skill_active">
            </th>
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/docker.png" alt="docker" class="skill_active">
            </th>
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/rabbitmq.png" alt="rabbitmq" class="skill_active">
            </th>
        </tr>
        <tr class="skills_data">
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/sql.png" alt="sql" class="skill_active">
            </th>
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/snowflake.png" alt="snowflake" class="skill_active">
            </th>
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/aws.png" alt="aws" class="skill_active">
            </th>
        </tr>
        <tr class="skills_data">
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/json.png" alt="json" class="skill_active" >
            </th>
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/terraform.png" alt="terraform" class="skill_active">
            </th>
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/azure.png" alt="azure" class="skill_active">
            </th>
        </tr>
    </table>
</div>