<div class="skills_content">
    <h3 class="skills_title">Backend Developer</h3>
    <table class="skills_info">
        <tr class="skills_data">
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp" class="skill_active">
            </th>
            <th class="skills_blob inactive">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp">
            </th>
            <th class="skills_blob">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp" >
            </th>
        </tr>
        <tr class="skills_data">
            <th class="skills_blob">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp" >
            </th>
            <th class="skills_blob">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp" >
            </th>
            <th class="skills_blob">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp" >
            </th>
        </tr>
        <tr class="skills_data">
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp" class="skill_active" >
            </th>
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp" class="skill_active">
            </th>
            <th class="skills_blob">
                <img src="../assets/icons/c_sharp.png" alt="c_sharp" >
            </th>
        </tr>
    </table>
</div>