<div class="skills_content">
    <h3 class="skills_title">Frontend Developer</h3>
    <table class="skills_info">
        <tr class="skills_data">
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/html.png" alt="html" class="skill_active">
            </th>
            <th class="skills_blob">
                <img src="../assets/icons/angular.png" alt="angular">
            </th>
            <th class="skills_blob">
                <img src="../assets/icons/angular.png" alt="angular" >
            </th>
        </tr>
        <tr class="skills_data">
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/css.png" alt="css" class="skill_active">
            </th>
            <th class="skills_blob">
                <img src="../assets/icons/angular.png" alt="angular" >
            </th>
            <th class="skills_blob">
                <img src="../assets/icons/angular.png" alt="angular" >
            </th>
        </tr>
        <tr class="skills_data">
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/js.png" alt="js" class="skill_active">
            </th>
            <th class="skills_blob hasAnimation">
                <img src="../assets/icons/typescript.png" alt="typescript" class="skill_active">
            </th>
            <th class="skills_blob">
                <img src="../assets/icons/angular.png" alt="angular" >
            </th>
        </tr>
    </table>
</div>