@import url('../main.component.scss');

.experience {
    position: relative;

    border: 2px solid red;
}

.experience_container {
    row-gap: 3.5rem;
    height: 30rem;
    
    border: 2px solid orange;
}

.experience_list,
.experience_content {
    border: 2px solid yellow;
}

.mat-accordion .mat-expansion-panel {
    border: 2px solid red;
    margin-bottom: 0.3rem;
}



.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://media.licdn.com/dms/image/D4E0BAQH7DTCk5iDqFw/company-logo_200_200/0/1666876000191?e=1686787200&v=beta&t=nVF6WwT37Bd_hOr8si0546sCuQAatbFGcwPVYdGzONw');
    background-size: cover;
  }



.experience_info {
    display: grid;
    row-gap: 2rem;
}

.experience_name {
    font-size: var(--normal-font-size);
    margin-bottom: 1.25rem;
}

.experience_country,
.experience_year {
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.experience_country {
    margin-bottom: .75rem;
}
