<section class="contact section">
    <h2 class="section_title">Contact</h2>
    <span class="section_subtitle"></span>

    <div class="contact_container container">        

        <div class="info_box">
            <h3 class="contact_title">
                Talk to me
            </h3>
            
            <div class="contact_info">
                <div class="contact_data">
                    <span class="contact_data-title">Email</span>
                    <span class="contact_data-info">gmail&#64;gmail.com</span>
                </div>
                <div class="contact_data">
                    <span class="contact_data-title">LinkedIn</span>
                    <a href="" class="contact_link">Write me</a>
                </div>
            </div>
        </div>

        <div class="mail_box">
            <h3 class="contact_title">
                Write me
            </h3>
            
            <div class="container_box">
                <div class="email_box">
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"><i class="ri-google-fill"></i></div>
                    <div class="triangle"></div>
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="paper">
                        <div class="row">
                            <div class="input_box">
                                <input class="paper_input" type="text" id="name" formControlName="name" required>
                                <label class="paper_label" for="name">Name</label>
                            </div>
                            <div class="input_box">
                                <input class="paper_input" type="text" id="email" formControlName="email" required>
                                <label class="paper_label" for="email">E-mail</label>
                            </div>
                        </div>
                        <div class="input_box">
                            <input class="paper_input" type="text" id="subject" formControlName="subject" required>
                            <label class="paper_label" for="subject">Subject</label>
                        </div>
                        <div class="input_box subject">
                            <textarea class="paper_text" id="message" formControlName="message" rows="8" required></textarea>
                            <label class="paper_label" for="message">Offer</label>
                        </div>
                        <button class="paper_button" type="button">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
