@import url('../main.component.scss');

.home_container {
    row-gap: 4rem;
    padding-top: 2rem;    
}

.home_data {
    row-gap: 1.5rem;
}

.home_title {
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
}

.home_blob {
    position: relative;
    width: 200px;
    height: 300px;

    background-color: green;
    justify-self: center;
    border-radius: 6rem;
    place-items: center;
}

.home_profile {
    width: 200px;
    height: 300px;
    background: var(--gradient-color);
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home_profile img {
    width: 350px;
}
/*
.home_social {
    justify-content: center;
    display: flex;
    column-gap: 1.25rem;
}

.home_social-link {
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color .3s;
}
*/
.home_info {
    display: grid;
    row-gap: 2rem;
}

.home_info-title {
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: var(-text-color-light);
    margin-bottom: 1rem;
}

.home_info-description {
    font-family: var(--title-font);
    color: var(--title-color);
    padding-right: 4rem;
}