<section class="home section">
    <div class="home_container container grid section_border">
        
        <div class="home_data distance">
            <div class="home_blob">
                <div class="home_profile">
                    <img src="../assets/temporary/profile.png" alt="profile">
                </div>
            </div>
        </div>

        <div class="home_info distance">
            <div>
                <h2 class="home_title">
                    Welcome,<br>
                    I'm Avalon<br>
                    Software Developer<br>
                </h2>
            </div>
            <div>
                <h3 class="home_info-title">BIOGRAPHY</h3>
                <p class="home_info-description">Passionate about writing clear code and beautiful design</p>
            </div>
        </div>

        <div class="home_service distance">
            <div>
                <h3 class="home_info-title">SERVICES</h3>
                <p class="home_info-description">BACKEND DEV<br>FRONTEND DEV</p>
            </div>            
            <div>
                <h3 class="home_info-title">CONTACT</h3>
                <p class="home_info-description">Poland, Warsawa<br>gmail@gmail.com</p>
            </div>
        </div>
    </div>
</section>