<section class="home section">
    <div class="home_container container grid section_border">

        <div class="home_info distance">
            <div>
                <h2 class="home_title">
                    Hello,<br>
                    My names is {{info?.name}}<br>
                    I'm {{info?.position}}<br>
                </h2>
            </div>
            <div>
                <p class="home_info-description">{{home?.about}}</p>
            </div>
        </div>
        
        <div class="home_data distance">
            <div class="home_blob">
                <div class="home_profile">
                    <img src="{{info?.photo}}" alt="profile">
                </div>
            </div>
        </div>

        <div class="home_service distance">
            <div>
                <h3 class="home_info-title">Area of responsibility</h3>
                <p class="home_info-description">
                    {{skills?.backend}}<br>{{skills?.frontend}}
                </p>
            </div>            
            <div>
                <h3 class="home_info-title">CONTACT</h3>
                <p class="home_info-description">
                    {{home?.location}}<br>{{info?.mail}}
                </p>
            </div>
        </div>
    </div>
</section>