<section class="active_skills">
    <table class="skills_apply_info">
        <tr class="skills_amplifier">
            <th class="skills_ability rotate">
                <img src="" alt="" >
            </th>
        </tr>
        <tr class="skills_improvment">
            <th class="skills_ability">
                <img src="" alt="" >
            </th>
            <th class="skills_ability">
                <img src="" alt="" >
            </th>
            <th class="skills_ability">
                <img src="" alt="" >
            </th>
        </tr>
        <tr class="skills_improvment">                    
            <th class="skills_ability">
                <img src="" alt="" >
            </th>
            <th class="skills_ability">
                <img src="" alt="" >
            </th>
            <th class="skills_ability">
                <img src="" alt="" >
            </th>
        </tr>
        <tr class="skills_amplifier">
            <th class="skills_ability rotate">
                <img src="" alt="" >
            </th>
        </tr>
    </table>
    
    <table class="skills_apply_info">
        <tr class="skills_amplifier">
            <th class="skills_ability rotate">
                <img src="" alt="" >
            </th>
        </tr>
        <tr class="skills_improvment">
            <th class="skills_ability">
                <img src="" alt="" >
            </th>
            <th class="skills_ability">
                <img src="" alt="" >
            </th>
            <th class="skills_ability">
                <img src="" alt="" >
            </th>
        </tr>
        <tr class="skills_improvment">
            <th class="skills_ability">
                <img src="../assets/icons/html.png" alt="html" class="skill_active">
            </th>
            <th class="skills_ability">
                <img src="../assets/icons/css.png" alt="css" class="skill_active">
            </th>
            <th class="skills_ability">
                <img src="../assets/icons/typescript.png" alt="typescript" class="skill_active">
            </th>
        </tr>
        <tr class="skills_amplifier">
            <th class="skills_ability rotate">
                <img src="../assets/icons/angular.png" alt="angular" class="skill_active">>
            </th>
        </tr>
    </table>
</section>