<div class="skills_content">
    <h3 class="skills_title">Personal characteristics</h3>
    <table class="skills_info">
        <tr class="skills_data">
            <th class="skills_blob"></th>
            <th class="skills_blob"></th>
            <th class="skills_blob"></th>
        </tr>
        <tr class="skills_data">
            <th class="skills_blob"></th>
            <th class="skills_blob"></th>
            <th class="skills_blob"></th>
        </tr>
        <tr class="skills_data">
            <th class="skills_blob"></th>
            <th class="skills_blob"></th>
            <th class="skills_blob"></th>
        </tr>
    </table>
</div>